{{#gallery_error}}
   {{{gallery_error}}}
{{/gallery_error}}

{{^gallery_error}}

<table>

<tr><td colspan="2">
<b>Gallery</b><br/>
<i>Click on the photo to enlarge, or click on the link to view on {{widgets.gallery.config.provider}}.</i>
</td></tr>
	
{{#gallery_photos}}
<tr><td>
<a href="{{med_image_url}}">
<img src="{{small_image_url}}" alt="{{caption}}" width="250px" /></a>
</td>
<td>
{{caption}} on <a href="{{view_url}}" target="_blank">{{host}}</a>
</td>
</tr>
{{/gallery_photos}}

</table>

{{/gallery_error}}
