---
layout : default
---

<div class="row-fluid">
  <div class="span12">
    {{#collection.paginator}}
      <div class="{{ collection.resource_name}}">
        <h3 class="title"><a href="{{url}}">{{title}}</a> <span class="date">{{ date }}</span></h3>

        {{{ summary }}}

<ul class="tag_box inline">
 <li><i class="icon-tags"></i></li>
{{# tags }}
  {{> tags_list }}
{{/ tags }}
</ul>

{{{widgets.comments_count}}}

<!--
<div class="more">
  <a href="{{url}}" class="btn btn-small">full post..</a>
</div>
-->

<br/>

{{{widgets.share_this}}}

      </div>
    {{/collection.paginator}}
    

	{{>pagination_bar}}

  </div>
</div>
